    /* styles.css */
    body {
        font-family: 'Jetbrains Mono', sans-serif;
        line-height: 1.5;
        margin: 10px;
        background-color: #181825;
        color: #cdd6f4;
    }
    h1 {
        color: #cba6f7;
        margin-bottom: 0px;
    }
    h2 {
        color: #74c7ec;
        margin-top: 0;
        font-size: small;
    }
    h3 {
        color: #494848;
        margin-top: 0;
        margin-bottom: 20px;
    }
    .content {
        font-size: 13px
    ; /* or specify a size like 12px or 0.8em */
.header {
    font-size: 20px;
}    
}
    
    


