    /* styles.css */
    body {
        font-family: 'Jetbrains Mono', sans-serif;
        line-height: 1.5;
        margin: 10px;
        background-color: #181825;
        color: #cdd6f4;
    }
    h1 {
        color: #cba6f7;
        margin-bottom: 0px;
    }
    h2 {
        color: #74c7ec;
        margin-top: 5;
        margin-bottom: 5;

        
    }
    h3 {
        color: #494848;
        margin-top: 0;
        margin-bottom: 20px;
    }
    .content {
        font-size: 13px
        
    ; /* or specify a size like 12px or 0.8em */
.header {
    font-size: 20px;
}    


projects {

        font-size: 15px; /* Make sure to include 'px' */
        margin-top: 5px; /* Include 'px' for consistency */
        margin-bottom: 5px; /* Include 'px' for consistency */
        background-color: #f0f0f0; /* Change to your desired background color */
        padding: 10px; /* Add padding for spacing inside the box */
        border-radius: 5px; /* Optional: add rounded corners */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: add a subtle shadow */
    }
    
}
    
    


