---
import Layout from '../layouts/mainlayout.astro';
import ProjectCard from '../components/projectcard.astro';
const pageTitle = "Projects";

// Example project data
const projects = [
  { title: " .me", description: "My personal website written in astro.js. Tech used: astro.js, catppuccin color pallete.", github: "https://github.com/wintervoid/wintervoid.github.io" },

  // ...more projects
];
---
<Layout pageTitle={pageTitle}>
  <section class="project-grid">
    {projects.map(project => (
      <ProjectCard 
        title={project.title} 
        description={project.description} 
        github={project.github} 
      />
    ))}
  </section>
</Layout>

<style>
  .project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
  }

</style></style>