---
import Layout from "../layouts/mainlayout.astro";
const pageTitle = "Socials";
---
<Layout pageTitle={pageTitle}>
<p> here's where you can find me</p>

<ul>
    <li><a href="https://www.youtube.com/@wintervoid01">YouTube</a></li>
  <li><a href="https://github.com/wintervoid">GitHub</a></li>
  <li><a href="https://bsky.app/profile/wintervoid.bsky.social">bluesky</a></li>

   <li>Discord: winter.void1</li>
</ul>
</Layout>